.image-container{
    height: 150px;
    object-fit: scale-down;
    border: 1px solid;
}

.card-height{
    height: max-content;
    padding: 20px;
    text-align: center;
}

.details-height{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
}

.card-body{
    height: max-content;
}